<div class="details">
  <div class="imageContainer">
    <img src="./assets/image/corporate-businessmen-shaking-hands.png" alt="tender" />
  </div>
  <div class="pe-3 w-100 detailsWrapper">
    <div class="detailsTitle">
      <div>
        <h3>
          {{ details().title }}
          <span class="dateDiff"> منذ{{ transformDate(details().created_at) }} أيام</span>
        </h3>
      </div>
      <div class="d-flex align-items-center">
        <button class="button-no-style" (click)="openShare = !openShare">
          <i style="cursor: pointer" class="fa-solid fa-share-nodes shareBox" style="cursor: pointer">
            <div class="share-content" *ngIf="openShare">
              <button class="button-no-style" (click)="shareThisCard('twitter')">
                <i class="fa-brands fa-twitter"></i>
              </button>
              <button class="button-no-style" (click)="shareThisCard('facbook')">
                <i class="fa-brands fa-facebook"></i>
              </button>
              <button class="button-no-style" (click)="shareThisCard('whatsapp')">
                <i class="fa-brands fa-whatsapp"></i>
              </button>
            </div>
          </i>
        </button>
        <div class="d-flex align-items-center">
          <button class="button-no-style" *ngIf="!inWishList()" (click)="handleWhishlist()">
            <i class="fa-regular fa-heart mx-2"></i>
          </button>
          <button class="button-no-style" *ngIf="inWishList()" (click)="handleWhishlist()">
            <i class="fa-solid fa-heart text-danger mx-2"></i>
          </button>
          <button class="button-no-style" (click)="handleWhishlist()">
            <p class="m-0">اضافة الي المفضلة</p>
          </button>
        </div>
      </div>
    </div>
    <div class="handleDetails">
      @if (isLogin) {
        <div>
          <p>{{ details().desc }}</p>
        </div>
      } @else {
        <div>
          <p>يتم عرض المعلومات الأضافية فقط بعد تسجيل الدخول طبقا لمستوي العضوية</p>
        </div>
      }

      <div class="mx-2">
        <p>
          قيمة كراسة الشروط :
          <span class="value">{{ details().tender_specifications_value }}</span>
        </p>
        <p>
          قيمة التأمين :
          <span class="value">{{ details().insurance_value }}</span>
        </p>
        <p>
          تاريخ الانتهاء :
          <span class="value">{{ details().expiry_date }}</span>
        </p>
      </div>
      <div>
        <button *ngIf="!MyTender()" class="button-bgMain-txtWhite-radius" [routerLink]="[router()]">تقديم عرض</button>
      </div>
    </div>
  </div>
</div>
