<div class="container">
  <div class="row g-5 mt-4">
    @for (
      item of agentList
        | paginate
          : {
              itemsPerPage: itemsPerPage,
              currentPage: currentPage,
              totalItems: totalItems
            };
      track item.id;
      let i = $index
    ) {
      <div class="col-lg-6">
        <app-card-details
          [inWishList]="item.is_favorite"
          [details]="item"
          (addToWhishList)="addAgentTowhishList($event)"
          [router]="'/agent/' + item.id + '/agent-details'"
        ></app-card-details>
      </div>
    }
    @if (agentList.length) {
      <div class="text-center">
        <pagination-controls class="my-pagination" (pageChange)="handlePagination($event)"></pagination-controls>
      </div>
    }
  </div>
</div>
