$main-color: #648dc4;
$white: #ffff;
$misty: #00000029;
$danger: #cc0000;
$dark: #1d1d1d;
$ray: #efefef;
$muted: #e1e8f0;
$Darkmuted: #919191;
$divider: #e8e8e8;
$MidnightNavy: #0e233d;
$SlateBlue: #a0acbc;
$SilverSage: #b9bfca;
$DeepOceanBlue: #1f4982;
$Aquamarine: #6cc4a1;
