<div class="container">
  @for (
    item of expirelist
      | paginate
        : {
            itemsPerPage: itemsPerPage,
            currentPage: currentPage,
            totalItems: totalItems
          };
    track item.id;
    let i = $index
  ) {
    <div class="my-3" style="cursor: pointer">
      <app-essential-details
        [addOffer]="false"
        [navigateOpen]="true"
        (navigateToUpdate)="expireControl(item.id)"
        [inWishList]="item.is_favorite"
        [details]="item"
        (addToWhishList)="addexpireTowhishList($event)"
        [router]="'/expiration/' + item.id + '/details'"
      ></app-essential-details>
    </div>
  }
  @if (expirelist.length) {
    <div class="text-center">
      <pagination-controls class="my-pagination" (pageChange)="handlePagination($event)"></pagination-controls>
    </div>
  }
</div>
